.container {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}

#footer {
    background-color: #2C3E50;
    color: white;
    padding: 2% 0% 2% 0% !important;
    width: 100%;
}

#footer a {
    color: #18BC9C;
}

.myheart {
    color: #DE0404;
}

.quote-container {
  padding: 20px !important;
  margin: 20px !important;
  display: flex;
  justify-content: center;
}

.quote-box {
  width: 50% !important;
  padding: 20px !important;
  margin: 20px !important;
  background-color: yellow;
  text-align: center;
}