body {
    height:100%;
    background: linear-gradient(0deg, #5B9EAf,#2EA294 80%) no-repeat
}

.container {
  width: 100% !important;
  padding: 3% 0% !important;
  margin: 0px !important;
}

#footer {
    /*background-color: #2C3E50;*/
    color: #FFF;
    padding: 2% 0% 2% 0% !important;
    width: 100%;
}

#footer a {
    color: #FFCFC4;
}

.myheart {
    color: #DE0404;
}

.quote-container {
  padding: 20px !important;
  margin: 20px !important;
  display: flex;
  justify-content: center;
}

.quote-box {
  width: 50% !important;
  padding: 20px !important;
  margin: 20px !important;
  background-color: #FFFFFF;
  text-align: center;
}

#quote-text {
    font-family: 'Pompiere', cursive;
    font-size: 24px;
}

#quote-author {
    font-family: 'La Belle Aurore', cursive;
    font-size: 19px;
}

.mytitle {
    color: #FFF;
    font-family: 'Meddon', cursive;
}